{% comment %} {{'gallery.css' | asset_url | stylesheet_tag}} {% endcomment %}
   <h2>This is truly gallery page</h2>






{% schema %}
    {
        "name": "main-gallery",
        "class": "section",
        "tag": "section",
        "settings": [

        ]        
    }
{% endschema%}