{{'gallery.css' | asset_url | stylesheet_tag}}
   <h2>This is truelly gallery page</h2>
{% schema %}
    {
        "name": "gallery",
        "class": "section",
        "tag": "section",
        "settings": [

        ]        
    }
{% endschema%}