{{ 'recent.css' | asset_url | stylesheet_tag }}
<section class="recent">
    <div class="container">
      <div class="title__wrap recent__title__wrap">
        <h3 class="title recent__title">Summer Collection</h3>
      </div>
      <div class="recent__products">
        {% for product in collections['clothing'].products %}
          <div class="recent__product">
            <div class="recent__product__cover"></div>
            {% if product.compare_at_price_max > product.price %}
              <div class="recent__product__discount">{{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}%</div>
            {% endif %}
            {{ product.featured_image | image_url: width: 155 | image_tag }}
            <div class="recent__product__btn">
              <button>+ add to card</button>
            </div>
          </div>
        {% endfor%}
      </div>
    </div>
  </section>

  {% schema %}
    {
        "name": "recent",
        "class": "recent",
        "settings": []
    }
{% endschema %}