.recent {
  background-color: #fff;
}
.recent__title__wrap {
  padding: 57px 0;
}
.recent__title::before {
  left: -75px;
}
.recent__title::after {
  right: -75px;
}
.recent__products {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.recent__product {
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.2); */
  z-index: 6;
  cursor: pointer;
}
.recent__product__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.2);
}
.recent__product:hover .recent__product__cover {
  opacity: 1;
}
.recent__product:hover .recent__product__btn,
.recent__product:hover .recent__product__btn button {
  background-color: var(--sec-accent-color);
}
.recent__product:hover .recent__product__btn::before {
  border-right-color: var(--sec-accent-color);
  border-bottom-color: var(--sec-accent-color);
}
.recent__product:hover .recent__product__btn::after {
  border-left-color: var(--sec-accent-color);
  border-bottom-color: var(--sec-accent-color);
}
.recent__product__discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 24px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
}
.recent__product img {
  width: 100%;
  height: 100%;
}
.recent__product__btn {
  position: absolute;
  left: 50%;
  bottom: 0px;
  background-color: #000;
  font-size: 1.05rem;
  padding: 12px 8px;
  transition: 0.2s;
  transform: translateX(calc(-137px / 2));
}
.recent__product__btn button {
  text-transform: uppercase;
  border: none;
  transition: background-color 0.2s;
  position: relative;
  background-color: #000;
  color: #fff;
}
.recent__product__btn::before {
  content: "";
  position: absolute;
  top: 0;
  transition: border-color 0.2s;
  left: -53px;
  border-bottom: 27px solid #000;
  border-right: 27px solid #000;
  border-top: 27px solid transparent;
  border-left: 27px solid transparent;
}
.recent__product__btn::after {
  content: "";
  position: absolute;
  top: 0;
  transition: border-color 0.2s;
  right: -53px;
  border-bottom: 27px solid #000;
  border-right: 27px solid transparent;
  border-top: 27px solid transparent;
  border-left: 27px solid #000;
}
@media screen and (max-width: 740px) {
  .recent__products {
    grid-template-columns: 1fr 1fr;
  }
  .recent__product__discount {
    padding: 14px 10px;
  }
}
@media screen and (max-width: 870px) {
  .recent__products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1200px) {
  .recent__product__btn {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .recent__products {
    grid-template-columns: 1fr;
  }
}
